<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Causes tests in Test Explorer to show up as schemeParser rather than the much longer
         Bugfree.Spo.Analytics.Cli.Tests.UrlParserTests.schemeParser. Next, in the Test Explorer
         select "Group by Class". -->
    <add key="xunit.methodDisplay" value="method" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- Project compiles without redirect, but xUnit runner and VS Test explorer fails to load FSharp.Core otherwise -->
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.1.0" newVersion="4.4.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>  
</configuration>
