<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApplicationInsightsInstrumentationKey" value="..." />
    <add key="Reports.InCloudDomain" value="..." />
    <add key="Reports.OnPremiseDomain" value="..." />
    <add key="Reports.CompanyPublicIPs" value="..." />
    <add key="CommitThreshold" value="1000" />
  </appSettings>
  <connectionStrings>
    <add name="BugfreeSpoAnalytics" connectionString="..."/>
  </connectionStrings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>