<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Refer to README file for documentation of each configuration parameter -->
    <add key="ApplicationInsightsInstrumentationKey" value="00000000-0000-0000-0000-000000000000" />                                                          
    <add key="Reports.InCloudDomain" value="" />
    <add key="Reports.OnPremiseDomain" value="" />
    <add key="Reports.InternalIPs" value="" />
  </appSettings>
  <connectionStrings>  
    <add name="BugfreeSpoAnalytics" connectionString="" />
  </connectionStrings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="console" type="System.Diagnostics.ConsoleTraceListener"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>