<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- Contains a null value to avoid accidentally logging to production -->
    <add key="ApplicationInsightsInstrumentationKey" value="00000000-0000-0000-0000-000000000000" />
  </appSettings>
  <connectionStrings>  
    <!-- Contains a null value -->
    <add name="BugfreeSpoAnalytics" connectionString="" />
  </connectionStrings>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <!-- If you wish to pipe output to a file, use the PowerShell tee cmdlet -->
        <add name="console" type="System.Diagnostics.ConsoleTraceListener"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>