<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="console" type="System.Diagnostics.ConsoleTraceListener" />
        <add name="appInsighter" type="Microsoft.ApplicationInsights.TraceListener.ApplicationInsightsTraceListener, Microsoft.ApplicationInsights.TraceListener"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.webServer>
    <handlers>
      <remove name="httpplatformhandler" />
      <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform stdoutLogEnabled="true" stdoutLogFile=".\Bugfree.Spo.Analytics.Cli.log" startupTimeLimit="20" processPath="%HOME%\site\wwwroot\Bugfree.Spo.Analytics.Cli.exe" arguments="--server %HTTP_PLATFORM_PORT% ."/>
  </system.webServer>
</configuration>